// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown:hover .dropdown-menu {
    display: block;
 }
 .ulBullet
{
    list-style-type: none;
    padding:0;
    margin:0;
}

.fltLeft{float: left;}

.imageSize{
    height: 150px;
    width: 230px;
	vertical-align: bottom;
}

.labelSize{
	color: #666666;
	line-height: 13 px;
	padding: 6px 0 8px;
}

ol{
    list-style-type: none;
    padding:0;
    margin:0;
}

.mrgTop{margin-top: 20px;}
.mrgLeft{margin-left: 0px;}
.minHigh{min-height: 120px;}

hr.sub { 
    color: #848484; background: #848484; width: 99%; height: 2px; 
}

.first-section {
    border: 0 none;
    padding-top: 0;
}

.nav-section {
    border-top: 1px solid #CCCCCC;
    margin-bottom: 13px;
    padding: 13px 7px 0 3px;
}

.nav-section-title {
    color: #848484;
    padding: 0 0 2px 4px;
}
.nav-section-cat-list{
    overflow: hidden;
}
.nav-section-item{
    padding: 4px 0 4px 4px;
}

.tpadding5 {
    padding-top: 5px;
}

.tpadding5 {
    padding-bottom: 5px;
}

a.cont {
    color: #666666;
    cursor: pointer;
    text-decoration: none;
}
.hov_col:hover{
    background-color: #666;
}

.cur_pont{
    cursor: pointer;
}