// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown:hover .dropdown-menu {
    display: block;
 }
 .ulBullet
{
    list-style-type: none;
    padding:0;
    margin:0;
}

.fltLeft{float: left;}

.imageSize{
    height: 150px;
    width: 230px;
	vertical-align: bottom;
}

.labelSize{
	color: #666666;
	line-height: 13 px;
	padding: 6px 0 8px;
}

ol{
    list-style-type: none;
    padding:0;
    margin:0;
}

.mrgTop{margin-top: 20px;}
.mrgLeft{margin-left: 0px;}
.minHigh{min-height: 120px;}