
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Starter Template for Bootstrap</title>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li id="products" class="active"><a>products</a></li>
            <li id="customers"><a>customers</a></li>
            <li id="orders"><a>orders</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br/>

    <div class="container">
      <div id="products_show">
        <button class="btn btn-success" id="addproduct">Add new product</button><br/><br/>
        <div id="selections">
        <div id="input_form_for_category">
        <select id="category" style="width: 220px; height: 35px;"  >
            <option value="selected">select Category-</option>             
            <option value="mobile">Mobile</option>
            <option value="laptop">Laptop</option>
        </select>      
      </div>
      <br/>
      <p> Enter brand  <input type="text" id="brand"></input> </p></br>
       <p> Enter price <input type="text" id="price"></input> </p></br>
        <input type="submit"></input> 
      </div>
       <div class="row">
          <div class="col-md-2">Product Id</div>
          <div class="col-md-3">Product Name</div>
          <div class="col-md-2">Remaining No. of product</div>
          <div class="col-md-2">Number of product Sold</div>
         </div>
      </div>
      <div id="customers_show">
        <div class="col-md-2">Customer Id</div>
          <div class="col-md-3">Customer Name</div>
          <div class="col-md-2">customer Email Id</div>
          <div class="col-md-2">Customer Phone No.</div>
          <div class="col-md-1">Number of Product purchsed</div>
      </div>
      <div id="orders_show">
          <div class="col-md-2">Order No.</div>
          <div class="col-md-2">Customer Id</div>
          <div class="col-md-2">Customer Name</div>
          <div class="col-md-2">Customer Phone No.</div>
          <div class="col-md-1">Number of Product purchsed</div>
          <div class="col-md-1">order Status</div>
        </div>
    </div>
  </body>
</html>
